In [1]:
import pandas as pd
path = 'TransformedData/'
fn_steamGames = path + 'df_steamGames.csv'
df_steamGames = pd.read_csv(fn_steamGames)
df_steamGames

,genres,app_name,release_date,price,id,developer
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018-01-04,4.99,761140.0,Kotoshiro
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,0.00,643980.0,Secret Level SRL
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017-07-24,0.00,670290.0,Poolians.com
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,0.99,767400.0,彼岸领域
4,"['Action', 'Indie', 'Casual', 'Sports']",Log Challenge,2016-04-21,2.99,773570.0,NaN
...,...,...,...,...,...,...
32128,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-01-04,1.99,773640.0,"Nikita ""Ghost_RUS"""
32129,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,2018-01-04,4.99,733530.0,Sacada
32130,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-01-04,1.99,610660.0,Laush Dmitriy Sergeevich
32131,"['Casual', 'Indie']",EXIT 2 - Directions,2017-09-02,4.99,658870.0,"xropi,stev3ns"
32132,"['Early Access', 'Adventure', 'Indie', 'Action...",Maze Run VR,2016-04-21,4.99,681550.0,NaN

In [20]:
import ast

def Union(lst1, lst2):
    final_list = list(set(lst1) | set(lst2))
    return final_list

Genres = []
genresSeries = df_steamGames['genres'].values
for g in genresSeries:
    try:
        gl = ast.literal_eval(g)
        Genres = Union(Genres,gl)
    except:
        pass

len(Genres)

303

In [21]:
import pandas as pd
path = 'TransformedData/'
fn_userItems = path + 'df_userItems.csv'
df_userItems = pd.read_csv(fn_userItems)
df_userItems

,user_id,items_count,steam_id,user_url
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr
...,...,...,...,...
87621,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...
87622,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
87623,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
87624,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
87625,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [25]:
df_userItems[df_userItems['items_count'] > 0]['steam_id'].values

array([76561197970982479, 76561198035864385, 76561198007712555, ...,
       76561198323066619, 76561198326700687, 76561198329548331])

In [27]:
PlayTimeForever = []
SIDs = df_userItems[df_userItems['items_count'] > 0]['steam_id'].values
for G in Genres:
    ids = []
    for i in range(len(df_steamGames)):
        try:
            if G in df_steamGames.loc[i,'genres']:
                ids.append(df_steamGames.loc[i,'id'])
        except:
            pass
    ptg = 0
    for sid in SIDs:
        fni = 'TransformedData/ItemsData/itemsData_' + str(sid) + '.csv'
        dfi = pd.read_csv(fni)
        for id in ids:
            try:
                ptg += dfi[dfi['item_id'] == id]['playtime_forever'].values[0]
            except:
                pass
    PlayTimeForever.append(ptg)