# In this notebook, we eliminate columns that are not needed for queries or machine learning models

## Analyze df_items.csv and df_user_items.csv

### Check if they contain the same information.

In [1]:
import pandas as pd
df_items = pd.read_csv('Data/df_items.csv')
df_items

,user_id,steam_id,items,items_count
0,76561197970982479,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,js41637,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0
2,evcentric,7.656120e+16,"[{'item_id': '1200', 'item_name': 'Red Orchest...",137.0
3,Riot-Punch,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",328.0
4,doctr,7.656120e+16,"[{'item_id': '300', 'item_name': 'Day of Defea...",541.0
...,...,...,...,...
88305,76561198323066619,7.656120e+16,"[{'item_id': '413850', 'item_name': 'CS:GO Pla...",22.0
88306,76561198326700687,7.656120e+16,"[{'item_id': '11020', 'item_name': 'TrackMania...",177.0
88307,XxLaughingJackClown77xX,7.656120e+16,[],0.0
88308,76561198329548331,7.656120e+16,"[{'item_id': '304930', 'item_name': 'Unturned'...",7.0
88309,edward_tremethick,7.656120e+16,[],0.0

In [2]:
import pandas as pd
df_user_items = pd.read_csv('Data/df_user_items.csv')
df_user_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [3]:
(df_items['user_id'] == df_user_items['user_id']).sum(),(df_items['items_count'] == df_user_items['items_count']).sum(),(df_items['steam_id'] == df_user_items['steam_id']).sum()

(88310, 88310, 88310)

Note that they represent exactly the same data, with the difference that `df_user_items.csv` has the **user_url** column that will be needed for the `userforgenre` function of the API. This means that the  `df_items.csv` data is no longer needed.

### Analyze df_user_items.csv Data

Note that the **items** column cannot be read as a dictionary. Lets modify this.

In [4]:
df_user_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

A list (DICS) of lists (dics) of dictionaries was made to separate all dictionaries in `items` column.

In [3]:
DICS = []
for c in range(len(df_user_items)):
    strlist = df_user_items['items'][c]
    strdic = strlist[1:len(strlist)-1]
    strdic = strdic.replace("\'item_id\': \'", "\"item_id\": \"")
    strdic = strdic.replace("\', \'item_name\': \'", "\", \"item_name\": \"")
    strdic = strdic.replace("\', \'playtime_forever\': ", "\", \"playtime_forever\": \"")
    strdic = strdic.replace(", \'playtime_2weeks\': ", "\", \"playtime_2weeks\": \"")
    strdic = strdic.replace("}", "\"}")
    flag = 0
    dics = []
    for l in range(len(strdic)):
        if strdic[l] == '{' and flag == 0:
            flag = 1
            i = l
        elif strdic[l] == '}' and flag == 1:
            flag = 0
            j = l + 1
            dics.append(eval(strdic[i:j]))
    DICS.append(dics)

Eliminate `items` columns and check for duplicates

In [4]:
df_user_items.drop(columns='items',inplace=True)
df_user_items

,user_id,items_count,steam_id,user_url
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr
...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [15]:
df_user_items.drop_duplicates(inplace=True)
df_user_items

,user_id,items_count,steam_id,user_url
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr
...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [20]:
df_user_items.to_csv('TransformedData/df_userItems.csv',index=False)

All the dictionaries were saved as `itemsData_<steam_id>.csv`

In [21]:
import numpy as np
for c in df_user_items.index:
    if df_user_items['items_count'][c] == 0:
        pass
    else:
        fn_id = 'TransformedData/ItemsData/itemsData_' + str(df_user_items['steam_id'][c]) + '.csv'
        df = pd.DataFrame(DICS[c])
        df.to_csv(fn_id,index=False)

## Analyze df_reviews.csv

Note that the **reviews** column cannot be read as a dictionary. Lets modify this.

In [9]:
df_reviews = pd.read_csv('Data/df_reviews.csv')
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [15]:
df_reviews['reviews'][0]

"[{'funny': '', 'posted': 'Posted November 5, 2011.', 'last_edited': '', 'item_id': '1250', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Simple yet with great replayability. In my opinion does 'zombie' hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth 'zombie' splattering fun for the whole family. Amazed this sort of FPS is so rare.'}, {'funny': '', 'posted': 'Posted July 15, 2011.', 'last_edited': '', 'item_id': '22200', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'It's unique and worth a playthrough.'}, {'funny': '', 'posted': 'Posted April 21, 2011.', 'last_edited': '', 'item_id': '43110', 'helpful': 'No ratings yet', 'recommend': True, 'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]"

A list (DICS) of lists (dics) of dictionaries was made to separate all dictionaries in `reviews` column.

In [38]:
DICS = []
for c in range(len(df_reviews)):
    strlist = df_reviews['reviews'][c]
    strdic = strlist[1:len(strlist)-1]
    strdic = strdic.replace("\'funny\': \'", "\"funny\": \"")
    strdic = strdic.replace("\', \'posted\': \'", "\", \"posted\": \"")
    strdic = strdic.replace("\', \'last_edited\': \'", "\", \"last_edited\": \"")
    strdic = strdic.replace("\', \'item_id\': \'", "\", \"item_id\": \"")
    strdic = strdic.replace("\', \'helpful\': \'", "\", \"helpful\": \"")
    strdic = strdic.replace("\', \'recommend\': ", "\", \"recommend\": \"")
    strdic = strdic.replace(", \'review\': \'", "\", \"review\": \"")
    strdic = strdic.replace("\'}", "\"}")
    strdic = strdic.replace("}", "\"}")
    strdic = strdic.replace("{@", "@")
    strdic = strdic.replace("{èª°", "èª°")
    strdic = strdic.replace("{L", "L")
    strdic = strdic.replace("\"\"}", "\"}")
    strdic = strdic.replace("à¸¢{à¸–à¹‰", "à¸¢à¸–à¹‰")
    
    flag = 0
    dics = []
    for l in range(len(strdic)):
        if strdic[l] == '{' and flag == 0:
            flag = 1
            i = l
        elif strdic[l] == '}' and flag == 1:
            flag = 0
            j = l + 1
            dics.append(eval(strdic[i:j]))
    DICS.append(dics)

In [49]:
df_reviews['reviews_id'] = np.arange(len(df_reviews))
df_reviews.drop(columns='reviews',inplace=True)
df_reviews

,user_id,user_url,reviews_id
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,0
1,js41637,http://steamcommunity.com/id/js41637,1
2,evcentric,http://steamcommunity.com/id/evcentric,2
3,doctr,http://steamcommunity.com/id/doctr,3
4,maplemage,http://steamcommunity.com/id/maplemage,4
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,25794
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,25795
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,25796
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,25797
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,25798

In [50]:
df_reviews.to_csv('TransformedData/df_reviews.csv',index=False)

All the dictionaries were saved as `revData_<reviews_id>.csv`

In [51]:
import numpy as np
for c in range(len(df_reviews)):
    fn_id = 'TransformedData/ReviewsData/revData_' + str(c) + '.csv'
    df = pd.DataFrame(DICS[c])
    df.to_csv(fn_id,index=False)